<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
    <style>
        input {
            font-size: 100px;
            background-color: transparent;
            border: none;
            color: black;
        }
    </style>
</head>
<body style="text-align: center;">
    <form action="http://localhost:3000/signin_form"><input type="submit" value="회원가입"></form>
    <form action="http://localhost:3000/login_form"><input type="submit" value="로그인"></form>
</body>
</html>