<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 이런식으로 '템플릿'을 만들어주는것이다. -->
    <!-- header의 공통된 링크와 스크립트부분을 일일이 안써줘도 된다. -->
    <% include ./inc/header.ejs %>
</head>
<body>
    <h1>body 부분</h1>
    <!-- 공통된 본문의 경우 일일이 안써줘도 된다 -->
    <% include ./inc/footer.ejs %>
</body>
</html>