<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ./ejs/header.ejs %>
    <% include ./ejs/headermenu.ejs %>
    <% include ./ejs/serializeObject.ejs %>
    <% include ./ejs/slideshowcss.ejs %>
    <style>
        body {
            font-family: 'Nanum Gothic', sans-serif;
        }

        hr {
            margin: 10px 0;
        }

        .hismenu1 {
            font-size: 1.248vw;
            padding-bottom: 15px;
        }

        .hismenu2, .hismenu3 {
            padding: 15px 0;
            text-align: center;
        }

        .hischeck {
            border-radius: 50%;
            background: transparent;
            width: 7.02vw;
            height: 7.02vw;
            border: 1px solid rgb(204, 127, 117);
            outline: none;
            color: rgb(201, 75, 53);
        }

        .hischeck:hover {
            border: 2px solid rgb(206, 66, 48);
            color: rgb(206, 39, 9);
        }

        .hischeck:focus {
            outline: none;
        }

        .hischeck i {
            font-size: 3.744vw;
        }

        .profilebox {
            width: 8vw;
            height: 8vw;
            border-radius: 50%;
            border: 1px solid rgb(214, 214, 214);
        }
    </style>
</head>

<body>
    <% include ./ejs/bodymenu.ejs %>
    <div class="container" style="margin-bottom: 20px;">
        <h4 style="font-weight: bold; margin-top: 25px;"><%= cardetail.model %></h4
            style="font-weight: bold; margin-top: 25px;">
        <%= cardetail.size %>
    </div>
    <div class="slidecontainer">
        <div class="row">
            <div class="col-7" style="margin: 0 20px 0 30px;">
                <div class="container" style="padding: 0;">
                    <div class="mySlides">
                        <div class="numbertext">1 / 6</div>
                        <img src="<%= cardetail.slide1 %>" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">2 / 6</div>
                        <img src="<%= cardetail.slide2 %>" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">3 / 6</div>
                        <img src="<%= cardetail.slide3 %>" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">4 / 6</div>
                        <img src="<%= cardetail.slide1 %>" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">5 / 6</div>
                        <img src="<%= cardetail.slide2 %>" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">6 / 6</div>
                        <img src="<%= cardetail.slide3 %>" style="width:100%">
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>

                    <div class="caption-container">
                        <p id="caption"></p>
                    </div>

                    <div class="row" style="width: 100%; margin: 0;">
                        <div class="column">
                            <img class="demo cursor" src="<%= cardetail.slide1 %>" style="width:100%"
                                onclick="currentSlide(1)">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="<%= cardetail.slide2 %>" style="width:100%"
                                onclick="currentSlide(2)">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="<%= cardetail.slide3 %>" style="width:100%"
                                onclick="currentSlide(3)">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="<%= cardetail.slide1 %>" style="width:100%"
                                onclick="currentSlide(4)">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="<%= cardetail.slide2 %>" style="width:100%"
                                onclick="currentSlide(5)">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="<%= cardetail.slide3 %>" style="width:100%"
                                onclick="currentSlide(6)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5"
                style="flex-basis: 35%; border: 1px solid rgb(230, 230, 230); padding-top: 15px; border-radius: 5px;">
                <div class="row hismenu1"
                    style="text-align: center; color: rgb(206, 39, 9); border-bottom: 1px solid rgb(230, 230, 230);">
                    <div class="col-3">
                        <button class="hischeck pcheck"><i class="fas fa-car"></i></button>
                        <hr>
                        성능점검
                    </div>
                    <div class="col-3">
                        <button class="hischeck icheck"><i class="fas fa-car-crash"></i></button>
                        <hr>
                        보험이력
                    </div>
                    <div class="col-3">
                        <button class="hischeck acheck"><%= cardetail.seizure %>건ㅣ<%= cardetail.mortgage %>건</button>
                        <hr>
                        압류ㅣ저당
                    </div>
                    <div class="col-3">
                        <button class="hischeck fcheck"><i class="fas fa-calculator"></i></button>
                        <hr>
                        총비용
                    </div>
                </div>
                <div class="row hismenu2">
                    <div class="col">
                        <div class="profilebox" style="margin: 0 auto; background-image: url('<%= userdetail.img %>'); background-size: cover;">
                        </div>
                        <p style="margin-top: 15px;"><%= userdetail.company %>ㅣ<%= userdetail.name %></p>
                        <p>판매중 <%= userdetail.company %>건ㅣ판매완료 <%= userdetail.name %>건</p>
                        <p><%= userdetail.address %></p>
                    </div>
                </div>
                <div class="row hismenu3">
                    <div class="col">
                        <p>판매자에게 할 질문이 있으신가요?</p>
                        <input type="text" placeholder="질문을 입력해주세요.">
                        <input type="button">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ./ejs/slideshowscript.ejs %>
</body>

</html>