<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ./ejs/header.ejs %>
    <% include ./ejs/headermenu.ejs %>
    <% include ./ejs/headermain.ejs %>
    <script>
        // $(()=>{
        //     $('.infosearch').click(()=>{
        //         $.ajax({
        //             type: 'POST',
        //             url: '/cinfo',
        //             dataType: 'json',
        //             data: {
        //                 'model': $('.infoinput').val()
        //             },
        //             success: (data)=>{
        //                 alert(data);
        //             },
        //             error: (err)=>{
        //                 console.log('ajax에서 에러발생');
        //             }
        //         })
        //     })
        // })
        
    </script>
</head>

<body>
    <% include ./ejs/indexbodymenu.ejs %>
    <!-- 본문 시작 -->
    <div class="maincon">
        <div class="mainexpln">
            자동차 온라인 마켓의 시작<br>
            <span style="color: orangered; font-weight: bold; position: relative; left: 300px;">카 셋.</span>
        </div>
        <div class="btn-group carmenu">
            <button type="button" class="btn btn-primary carinfo">자동차 정보 조회</button>
            <button type="button" class="btn btn-primary carhistory">자동차 이력 조회</button>
            <button type="button" class="btn btn-primary carlist">자동차 리스트 조회</button>
            <button type="button" class="btn btn-primary carreg" onclick="location.href='/carreg'">자동차 등록</button>
        </div>
        <div class="container carinfobox">
            <!-- 동적인 '기능'을 요청 -->
            <form action="/cinfo" method="POST">
                <input class="infoinput" type="text" name="modelsearch" placeholder="보고싶은 차종을 입력하세요. (ex. 2019 벤츠 S 클래스)">
                <input class="infosearch" type="submit" value="조회하기">
            </form>
            <div class="cardes">
                <span class="help" title="출시가와 주요제원, 엔진, 성능, 치수, 섀시 등을 알 수 있습니다.">제원/가격</span>
                <span class="help" title="차의 사진은 미리 볼 수 있습니다.">이미지</span>
                <span class="help" title="회원들의 의견을 볼 수 있습니다.">자동차 토크</span><br><br><br>
                <span class="warning">모든 서비스는 회원가입 후 사용 가능합니다.</span>
            </div>
        </div>
        <div class="container carhistorybox">
            <form action="" method="POST">
                <input class="historyinput" type="text" placeholder="띄어쓰기 없이 차량번호를 입력하세요. (ex. 12가1234)">
                <input class="historysearch" type="button" value="조회하기">
            </form>
            <div class="cardes">
                <span class="help"
                    title="자동차는 각 차량마다 고유한 번호를 부여받아 생산되는데요, 한국에서는 “차대번호”라고 부르고 영어로는 V.I.N.(Vehicle Idenfication Number) 즉 자동차 식별번호로 불립니다.">차대번호란?</span>
                <span class="help"
                    title="자동차를 운행하던 중 자동차 내부로 물이 들어와 시동이 꺼지거나, 주차 중 엔진 등에 물이 들어가 운행이 불가능하게 되어 자동차에 손해가 발생한 경우입니다(자동차보험 자기차량손해담보에 가입한 경우에만 제공 가능)">무료침수사고조회</span>
                <span class="help" title="회원들의 의견을 볼 수 있습니다.">무료폐차사고조회</span>
                <span class="help" title="회원들의 의견을 볼 수 있습니다.">카히스토리</span><br><br><br>
                <span class="warning">모든 서비스는 회원가입 후 사용 가능합니다.</span>
            </div>
        </div>
        <div class="container carlistbox">
            <form action="" method="POST">
                <input class="listinput" type="text" placeholder="보고싶은 자동차의 회사를 입력해주세요.">
                <input class="listsearch" type="button" value="조회하기">
            </form>
            <div class="cardes">
                <span class="help" title="출시가와 주요제원, 엔진, 성능, 치수, 섀시 등을 알 수 있습니다.">제원/가격</span>
                <span class="help" title="차의 사진은 미리 볼 수 있습니다.">이미지</span>
                <span class="help" title="회원들의 의견을 볼 수 있습니다.">자동차 토크</span><br><br><br>
                <span class="warning">모든 서비스는 회원가입 후 사용 가능합니다.</span>
            </div>
        </div>
    </div>
    <% if(a==1) {%>
        <script>alert('모델명이 잘못됐습니다.');</script>
    <% } %>
</body>

</html>