    /* 본문 css */
    .maincon {
        background-image: url('http://70.12.50.174:3001/image/car1.jpg');
        width: 100%;
        margin: 0;
        background-size: cover;
        text-align: center;
        padding-bottom: 50px;
        .container {
            width: 65%;
            text-align: center;
            padding: 25px 15px 25px 15px;
            background-color: rgba(68, 68, 75, 0.3);
        }
    }

    .mainexpln {
        padding: 150px 0;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 70px;
        /* font-weight: bold; */
        color: orange;
    }

    /* 본문 메뉴버튼 */
    .carmenu {
        width: 60%;
        padding-bottom: 25px;
    }

    .indexbuttongroup {
        width: 65%;
        margin: 0 auto;
        border-radius: none;
        margin-bottom: 25px;
    }

    .indexbutton1, .indexbutton2, .indexbutton3, .indexbutton4 {
        display: inline-block;
        width: 25%;
        padding: 17px 0;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 18px;
        background-color: rgb(197, 184, 0);
        border-color: rgb(197, 184, 0);
        color: rgb(255, 255, 255);
        height: 100%;
        a, a:hover {
            color: white;
            text-decoration: none;
        }
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    .carhistorybox, .carinfobox, .carlistbox {
        animation: fadein 0.5s;
    }

    .indexbutton1:hover, .indexbutton2:hover, .indexbutton3:hover, .indexbutton4:hover {
        background-color: rgb(197, 135, 0);
    }

    .indexbutton1 {
        border-radius: 25px 0 0 25px;
    }

    .indexbutton2 {
        border-left: 1px solid rgb(197, 135, 0);
        border-right: 1px solid rgb(197, 135, 0);
    }

    .indexbutton4 {
        border-left: 1px solid rgb(197, 135, 0);
        border-radius: 0 25px 25px 0;
    }

    .btn-primary:hover {
        background-color: rgb(197, 135, 0);
        border-color: rgb(197, 135, 0);
    }

    .carinfo {
        border-right-color: rgb(197, 135, 0);
        border-radius: 30px 0 0 30px;
    }

    .carhistory {
        border-color: rgb(197, 184, 0) rgb(197, 135, 0);
    }

    .carlist {
        border-color: rgb(197, 184, 0) rgb(197, 135, 0);
    }

    .carreg {
        border-left-color: rgb(197, 135, 0);
        border-radius: 0 30px 30px 0;
    }

    /* 차 정보 검색 박스 */

    .infoinput, .historyinput, .listinput {
        padding: 15px 0 15px 30px;
        width: 70%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 15px;
        line-height: 27px;
        float: left;
        margin-left: 30px;
    }

    .infosearch, .historysearch, .listsearch {
        background-color: rgb(197, 135, 0);
        border-color: rgb(197, 135, 0);
        border-style: solid;
        padding: 15px 0;
        width: 15%;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: white;
        float: right;
        margin-right: 30px;
    }

    .cardes {
        clear: both;
        width: 100%;
        padding: 15px;
        .help {
            padding: 0 5px;
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 14px;
            color: white;
            cursor: help;
        }
        li {
            background-color: transparent;
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 14px;
            color: white;
            border-width: 0 1px;
            border-style: solid;
            border-color: grey;
            padding: 7px;
        }
    }

    .warning {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 25px;
        color: white;
    }