input[type="text"]{
    outline: none;
    background: none;
    border: none;
  }
  button{
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 21px;
    font-family: 'Gaegu', cursive;
    font-weight: bold;
  }
  .TodoApp {
    text-align: center;
    margin: 100px 20% 0 auto;
    background-image: url('note_background.png');
    width: 556px;
    height: 720px;
    text-align: center;
  }
  .TodoHead {
    font-family: 'Nanum Pen Script', cursive;
  }
  .TodoHead h1 {
    margin: 0;
    height: 50px;
    line-height: 50px;
    font-size: 42px;
    color: rgb(255, 232, 158);
  }
  .TodoBody {
    font-family: 'Gaegu', cursive;
    font-weight: bold;
  }
  .SubmitTodo {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    font-size: 21px;
    font-weight: bold;
  }
  .SubmitTodo input[type="text"]{
    width: 220px;
    border: 0 double rgb(161, 0, 0);
    border-width: 0 0 3px 0;
    margin: 0 10px;
    color: rgb(161, 0, 0);
    font-size: 16px;
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    text-align: center;
  }
  .SubmitTodo button{
    color: rgb(161, 0, 0);
  }
  .SubmitTodo button:hover {
    animation: shake 2 0.2s;
  }
  @keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
    75% { transform:  rotate(-10deg); }
    1010% { transform:  rotate(0deg); }
  }
  .Toggler {
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
  }
  .SubmitBtn {
    display: inline-flex;
    width: 60px;
    justify-content: space-between;
    align-content: center;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
  }
  .fa-chevron-down {
    transition: all 0.4s ease;
  }
  .SubmitBtn .IconClicked {
    transform: rotate(-180deg) !important;
  }