h1, h2 {
    color: aqua;
    margin-left: 15px;
    text-align: center;
}

.h {
    border: 2px solid black;
}

h2.h {
    border: 0px;
}

#one {
    border: 5px dashed red;
    background-color: hotpink;
}